.mandar-profile{

padding:110px 8%;

display:flex;
align-items:center;
justify-content:space-between;

gap:70px;

background:#f9f9f9;

}

.profile-image{

flex:1;

}

.profile-image img{

width:100%;
max-width:500px;

border-radius:20px;

box-shadow:0 25px 45px rgba(0,0,0,.15);

}

.profile-content{

flex:1.3;

}

.profile-content h2{

font-size:52px;
font-weight:800;

color:#1E1E1E;

margin-bottom:10px;

}

.profile-content h4{

color:#C9971A;

font-size:22px;

margin-bottom:30px;

}

.profile-content p{

font-size:18px;

line-height:1.9;

color:#555;

}

.profile-content ul{

margin-top:20px;

padding-left:25px;

line-height:2;

}

.profile-highlights{

margin-top:40px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.profile-highlights div{

background:white;

padding:18px;

border-radius:12px;

display:flex;

align-items:center;

gap:15px;

font-weight:600;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.profile-highlights svg{

font-size:28px;

color:#C9971A;

}

@media(max-width:992px){

.mandar-profile{

flex-direction:column;

text-align:center;

}

.profile-content ul{

text-align:left;

}

.profile-highlights{

grid-template-columns:1fr;

}

}

.profile-list{
    margin:25px 0;
    padding-left:25px;
    color:#555;
    line-height:2;
}

.profile-list li{
    margin-bottom:8px;
}