.values{

padding:110px 8%;

background:#f8f8f8;

}

.values-header{

text-align:center;

max-width:800px;

margin:auto auto 70px;

}

.values-header h2{

font-size:50px;

color:#1E1E1E;

margin:20px 0;

}

.values-header p{

font-size:18px;

color:#666;

line-height:1.8;

}

.value-card{

display:flex;

gap:35px;

align-items:flex-start;

background:#fff;

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

margin-bottom:35px;

transition:.35s;

}

.value-card:hover{

transform:translateY(-8px);

box-shadow:0 25px 50px rgba(0,0,0,.15);

}

.value-icon{

min-width:80px;
height:80px;

background:#FFF6E8;

color:#C9971A;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:34px;

}

.value-content{

flex:1;

}

.value-content h3{

font-size:32px;

color:#1E1E1E;

margin-bottom:20px;

}

.value-content p{

color:#555;

font-size:17px;

line-height:2;

text-align:justify;

}

@media(max-width:992px){

.value-card{

flex-direction:column;

}

.value-icon{

margin:auto;

}

.value-content{

text-align:center;

}

.value-content p{

text-align:left;

}

}

@media(max-width:600px){

.values{

padding:80px 5%;

}

.values-header h2{

font-size:36px;

}

.value-card{

padding:28px;

}

.value-content h3{

font-size:28px;

}

.value-content p{

font-size:16px;

}

}